@{ 
    ViewBag.Title = "ConsultaPessoa";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConsultaPessoa</title>
</head>
<body>
    <h2>Pessoa cadastrada</h2>
    <div><b>Id: </b>@ViewBag.Id</div>
    <div>
        <b>Nome:</b>
        @ViewBag.Nome
    </div>
    <div><b>Sexo: </b> @ViewBag.Sexo</div>
</body>
</html>
